.body{
    padding-left: 150px;
    padding-right: 150px;  
    padding-bottom: 50px;
    min-height: calc(100vh - 80px - 70px);
  }

  .header_title{
    margin-top: 10px;
    border-bottom: 2px solid lightgrey;
  }

  .boards_display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  @media (max-width: 600px) {
    .body{
        padding-left: 10px;
        padding-right: 10px;  
      }
  }