.body{
    gap: 10px;
    padding-left: 120px;
    padding-right: 120px;  
    padding-bottom: 50px;
    min-height: calc(100vh - 80px - 70px);
}

.options{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list{
    margin-top: 20px;
}

.list_item{
    font-size: 18px;
    margin-bottom: 5px;
    cursor: pointer;
}

.list_item:hover{
    color: #14a03e;
}

.header_title{
    margin-top: 10px;
}

.modal_header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    line-height: 40px;
    width: 100%;
}
.modal_header p{
    width:90%;
}
.modal_header a{
    width: 10%;
}

.download:hover{
   color: #14a03e;
}


@media (max-width: 600px) {
    .body{
        padding-left: 10px;
        padding-right: 10px;
    }

    .list_item{
        font-size: 14px;
    }
    .modal_header{
        flex-direction: column;
        line-height: 22px;
        width: 100%;
    }
    .modal_header p{
        width:100%;
        font-size: 16px;
    }
    .modal_header a{
        width: 100%;
    }
    .modal_page{
        max-width: 100%;
        overflow-x: scroll;
        padding-left: -20px;
     }

}